{% extends 'base.html' %}

{% block titulo %}Excluir Categoria{% endblock %}

{% block conteudo %}
<article data-theme="light">
    <div>
        <h3>Você tem certeza que deseja excluir a categoria {{ categoria.descricao }}?</h3>
    </div>
    <form action="/categorias/delete" method="POST">
        <input type="hidden" name="id" value="{{ categoria.id }}">
        <input type="submit" role="button" value="Sim" class="pico-background-red-500">
        <a href="{{ url_for('categorias.recovery') }}">
            <div role="button" class="pico-background-green-600">Cancelar</div>
        </a>
    </form>

</article>
{% endblock %}