{% extends 'base.html' %}

{% block titulo %}Criar Pizza{% endblock %}

{% block conteudo %}
<article data-theme="light">
    <form action="/pizzas/create" method="POST">
        Sabor: <input type="text" name="sabor"><br/>
        Ingredientes: <input type="text" name="ingredientes"><br/>
        Categoria: <select name="categoria_id">
            <option selected disabled>Selecione...</option>
            {% for c in categorias %}
            <option value="{{ c.id }}">{{ c.descricao }}</option>
            {% endfor %}
        </select>
        <input type="submit" role="button" value="Cadastrar">
        <input type="reset" role="button" value="Limpar">
    </form>
</article>
{% endblock %}
