    {% extends 'base.html' %}
    {% block conteudo %}
        <section class="grid">
            <article>
                <header><h2>Pizzaria IFRO</h2></header>
                <h5>Nossa Pizza é a melhor da cidade. Venha conhecer e se surpreenda.</h5>
            </article>
            <article class="pico-background-pumpkin-150">
                <img src="{{ url_for('static', filename='imagens/pizza_img.png') }}" alt="pizza com vegetais próximos">
            </article>
        </section>
        <header>
            <h2>As queridinhas dos nossos clientes.</h2>
        </header>
        <section class="grid" data-theme="light">
            <article class="pico-background-pumpkin-150">
                <p class="center"><img src="{{ url_for('static', filename='imagens/Pizza 4 Queijos.jpeg') }}" alt="Pizza 4 queijos" width="100%" ></p>
                <h4>Pizza 4 queijos</h4>
                <p>jiodf apijpads pioafj diopjpiadsojfi fuaiuhudioh   dfuh adh fouah iuodh  afoudiho as</p>
            </article>
            <article class="pico-background-pumpkin-150">
                <p class="center"><img src="{{ url_for('static', filename='imagens/Pizza Boníssima.jpeg') }}" alt="Pizza Boníssima" width="100%" ></p>
                <h4>Pizza Boníssima</h4>
                <p>jiodf apijpads pioafj diopjpiadsojfi fuaiuhudioh   dfuh adh fouah iuodh  afoudiho as</p>
            </article>
            <article class="pico-background-pumpkin-150">
                <p class="center"><img src="{{ url_for('static', filename='imagens/Pizza Margherita.jpeg') }}" alt="Pizza Margherita" width="100%" ></p>
                <h4>Pizza Margherita</h4>
                <p>jiodf apijpads pioafj diopjpiadsojfi fuaiuhudioh   dfuh adh fouah iuodh  afoudiho as</p>
            </article>
            <article class="pico-background-pumpkin-150">
                <p class="center"><img src="{{ url_for('static', filename='imagens/Portuguesa.jpeg') }}" alt="Pizza Portuguesa" width="100%" ></p>
                <h4>Pizza Portuguesa</h4>
                <p>jiodf apijpads pioafj diopjpiadsojfi fuaiuhudioh   dfuh adh fouah iuodh  afoudiho as</p>
            </article>
         </section>
    {% endblock %}