{% extends 'base.html' %}
{% block titulo %} Login {% endblock %}

{% block conteudo %}
<article>
{% set mensagens = get_flashed_messages(with_categories=true) %}
    {% if mensagens %}
        {% for categoria, msg in mensagens %}
    <h6 class="pico-background-{{categoria}}">
        {{ msg }}<br>
    </h6>
        {% endfor %}
    {% endif %}
<form action="/autenticar" method="post">
    <label>
        Login:
        <input type="text" name="usuario" id="login" placeholder="Nome de usuário">
    </label>
    <label>
        Senha:
        <input type="password" name="senha" id="senha" placeholder="Sua senha">
    </label>
    <button type="submit">Entrar</button>
</form>
</article>

{% endblock %}