{% extends 'base.html' %}
{% block titulo %} Pizzaria Ifro => Menu {% endblock %}
{% block conteudo %}
    <article>
      <details>
        <summary role="button" class="outline">4 Queijos</summary>
        <p>
          Ingredientes: dpiofd, ifdo, diisoi, disoid doisna
        </p>
      </details>
      <details>
        <summary role="button" class="outline">Margherita</summary>
        <p>
          Ingredientes: dpiofd, ifdo, diisoi, disoid doisna
        </p>
      </details>
      <details>
        <summary role="button" class="outline">Bonissíma</summary>
        <p>
          Ingredientes: dpiofd, ifdo, diisoi, disoid doisna
        </p>
      </details>

    </article>
{% endblock %}